# Dependencies
node_modules/

# Build outputs
dist/
.vercel/

# Environment variables
.env
.env.*
!.env.example

# Uploads
uploads/

# Generated
/generated/prisma/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
